.footer {
    background-color: $color-enfasis;
    margin-top: -10rem;
    padding: 10rem 2rem 5rem;
    color: $color-dark;
    @include mq-bk-tablet {
        padding: 10rem 5rem 5rem;
    }
    &__titulo {
        margin-bottom: 1rem;
    }
}