.hero {
    min-height: 80vh;
    display: grid;
    place-items: center;
    background-image: url(https://unsplash.it/900/?blur);
    background-size: cover;
    background-attachment: fixed;
    &__titulo {
        text-align: center;
        font-size: calc(6vw + 2rem);
        text-shadow: 0 0 .5rem rgba(0,0,0, .3);
    }
}