*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fuente-principal;
    font-weight: 300;
    background-color: $color-dark;
    color: $color-light;
}

.boton {
    font-family: inherit;
    font-weight: 700;
    font-size: 100%;
    margin-top: 1rem;
    padding: .5rem 1.25rem;
    border: 0;
    background-color: $color-enfasis;
    cursor: pointer;
    &:hover {
        opacity: .8;
    }
}