.navegacion {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    padding: .5rem 0;
    background-color: $color-gris;
    @include mq-bk-tablet {
        padding: 1rem 0;
    }
    &__lista-desordenada {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        @include mq-bk-tablet {
            display: flex;
            justify-content: space-evenly;
        }
        &__item {
            &__link {
                display: inline-block;
                padding: .5rem;
                color: inherit;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 1px;
                text-decoration: none;
                &:hover {
                    color: $color-enfasis;
                }
            }
        }
    }
}