.portfolio {
    padding: 5rem 0;
    display: grid;
    gap: 1rem;
    grid: auto / repeat(auto-fit, minmax(300px, 1fr));
    width: 95%;
    margin: -10rem auto 0;
    position: relative;
    &__item {
        position: relative;
    }
    &__img {
        max-width: 100%;
        border-radius: 3px;
    }
    &__figcaption {
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
        bottom: 0;
        padding: 1rem;
    }
    &__modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 1rem;
        background-color: rgba(0, 0, 0, .8);
        display: none;
        justify-content: center;
        align-content: center;
        text-align: center;
        z-index: 1000;
        &__titulo {
            margin-bottom: 1.5rem;
            font-size: 2rem;
        }
        p {
            margin-bottom: 2rem;
        }
        &.is-open {
            display: grid;
        }
    }
}