block config
    include ../config/config
doctype html
html(lang="es")
    block head
      head
        include ../includes/head
    body
      block navegacion
          include ../includes/navegacion
      block hero
          include ../includes/hero
      block main
      block footer
          include ../includes/footer
      script(src="js/script.min.js")
