footer.footer
    h2.footer__titulo Quiénes somos y qué hacemos
    p.footer__texto Nam ullamcorper sapien eu accumsan bibendum. Quisque ultrices leo in auctor mollis. Sed finibus vulputate fermentum. Pellentesque quis lectus ullamcorper, imperdiet lacus eu, fringilla ex. Quisque suscipit nibh laoreet ante ultrices, at consectetur quam fringilla. Aenean facilisis, lectus euismod blandit accumsan, leo quam fermentum ante, quis finibus leo purus sed tortor. Phasellus ultrices rhoncus aliquam. Morbi vestibulum nulla metus, non condimentum elit ultrices ut. Etiam sodales gravida diam, nec vehicula felis commodo nec. Quisque finibus quam eget varius tempus. Etiam eu facilisis nulla, sed placerat dolor. Nulla facilisi.