section.portfolio
    figure.portfolio__item
        img.portfolio__img(src="img/naturaleza.jpg" alt="Imagen 1 del Portfolio")
        figcaption.portfolio__figcaption
            p Una breve descripción de una imagen de naturaleza
            button.boton.js-abrir-modal Más info
        .portfolio__modal
            h3.portfolio__modal__titulo Título del Modal 1
            p Texto que habla de esta imagen de naturaleza
            button.boton.js-cerrar-modal Cerrar
    figure.portfolio__item
        img.portfolio__img(src="img/tecnologia.jpg" alt="Imagen 2 del Portfolio")
        figcaption.portfolio__figcaption
            p La tecnología es nutritiva y conforma un colchón de confort en la evolución
            button.boton.js-abrir-modal Más info
        .portfolio__modal
            h3.portfolio__modal__titulo Título del Modal 2
            p De cómo cambian las cosas en este mundo acelerado
            button.boton.js-cerrar-modal Cerrar
    figure.portfolio__item
        img.portfolio__img(src="img/gente.jpg" alt="Imagen 3 del Portfolio")
        figcaption.portfolio__figcaption
            p La gente del mundo es asombrosa en su variedad
            button.boton.js-abrir-modal Más info
        .portfolio__modal
            h3.portfolio__modal__titulo Título del Modal 3
            p Nunca te faltará la sombra de un semejante
            button.boton.js-cerrar-modal Cerrar
    figure.portfolio__item
        img.portfolio__img(src="img/arquitectura.jpg" alt="Imagen 4 del Portfolio")
        figcaption.portfolio__figcaption
            p La belleza de la simetría y de las formas regulares
            button.boton.js-abrir-modal Más info
        .portfolio__modal
            h3.portfolio__modal__titulo Título del Modal 4
            p Nunca te fíes del juicio de un arquitecto estrella del rock
            button.boton.js-cerrar-modal Cerrar
    figure.portfolio__item
        img.portfolio__img(src="img/vacaciones.jpg" alt="Imagen 5 del Portfolio")
        figcaption.portfolio__figcaption
            p El triunfo del descanso gracias a la dura dedicación anual  
            button.boton.js-abrir-modal Más info
        .portfolio__modal
            h3.portfolio__modal__titulo Título del Modal 5
            p Los tópicos de las vacaciones, en familia, o no.
            button.boton.js-cerrar-modal Cerrar
    figure.portfolio__item
        img.portfolio__img(src="img/museo.jpg" alt="Imagen 6 del Portfolio")
        figcaption.portfolio__figcaption
            p La cultura democratizada y al alcance de casi todos
            button.boton.js-abrir-modal Más info
        .portfolio__modal
            h3.portfolio__modal__titulo Título del Modal 6
            p No deje pasar la oportunidad de visitar esos lugares en los que se acumula tanta belleza y sabiduría sancionadas por la Academia
            button.boton.js-cerrar-modal Cerrar