- let enlaces = ['Home', 'Acerca', 'Equipo', 'Trabajos', 'Contacto'] 

nav.navegacion
    ul.navegacion__lista-desordenada
        each enlace in enlaces
            li.navegacion__lista-desordenada__item
                a.navegacion__lista-desordenada__item__link(href="#") #{enlace}